<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="What&apos;s Eat?"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:allowBackup="false" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_api_key}" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".view.activity.LogoActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".view.activity.SignInActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".view.activity.FindPwActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".view.activity.ViewPlaceActivity"
            android:theme="@style/Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>